.env
*.env
**.env

config.js

**.DS_Store

.notes
*.notes
**.notes

.terraform/
*.tfstate
*.tfstate.*
*.tfvars
**.tfvars
*.tfvars.json
!config.tfvars
!tf-config.tfvars

node_modules/
**/node_modules/

crash.log

tmp*
*.tmp
tmp.*

*.bak
**.bak
